<div class="container test">
    <div class="row justify-content-center">
      <h1 class="text-center pt-3 pb-2">Product and Services</h1>
      <div class="col-auto">
        <form [formGroup]="form" class="form-inline">
          <!-- Dropdown code here -->
          <div class="form-group mr-2 d-flex justify-content-center dropdown-edit">
            <div class="input-group mb-3  select-edit-1">
              <label class="input-group-text" for="selectedCountry">Country</label>
              <select class="form-control form-control-sm" id="selectedCountry" formControlName="selectedCountry" (change)="onCountryChange()">
                <option value="" selected>Choose...</option>
                <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
              </select>
            </div>
            <div class="input-group mb-3 select-edit-2">
              <label class="input-group-text" for="selectedRegions">Region</label>
              <select class="form-control form-control-sm" id="selectedRegions" formControlName="selectedRegions">
                <option value="" selected>Choose...</option>
                <option *ngFor="let region of regions[form.get('selectedCountry')?.value]" [value]="region">{{ region }}</option>
              </select>
            </div>
          </div>
        </form>

        <div class="row d-flex justify-content-center">
          <div class="card col-4">
            <img src="../../assets/image/hotels.jpg" class="card-img img-height pt-2">
            <div class="card-body">
              <input type="radio" name="abc"  id="hotels" [(ngModel)]="abc" value="Hotel"><label for="hotels" class="label-font pl-2">Hotels</label>
            </div>
          </div>

          <div class="card col-4">
            <img src="../../assets/image/foods.jpg" class="card-img img-height pt-2">
            <div class="card-body">
              <input type="radio" name="abc" id="foods" [(ngModel)]="abc" value="food"><label for="foods" class="label-font pl-2">Foods</label>
            </div>
          </div>

          <div class="card col-4">
            <img src="../../assets/image/travels.png" class="card-img img-height pt-2">
            <div class="card-body">
              <input type="radio" name="abc" id="travels" [(ngModel)]="abc" value=""><label for="travels" class="label-font pl-2">Travels</label>
            </div>
          </div>
        </div>

        <br>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-success" (click)="onSelect()">Submit</button>
        </div>
      </div> 
    </div> 
  </div>
