<div class="container">
  <table class="table table-bordered table-striped table-hover custom-table">
    <thead class="thead-dark">
      <tr>
        <th class="header-cell">Transaction ID</th>
        <th class="header-cell">Card Number</th>
        <th class="header-cell">Receiver</th>
        <th class="header-cell">Date</th>
        <th class="header-cell">Amount &#x20B9;</th>
        <th class="header-cell">Type</th>
        <th class="header-cell">Balance &#x20B9;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions |  paginate: { itemsPerPage: pageSize, currentPage: currentPage }">
        <td>{{ transaction.transactionId }}</td>
        <td>{{ transaction.cardNumber }}</td>
        <td>{{ transaction.receiver }}</td>
        <td>{{ transaction.transactionDate }}</td>
        <td>{{ transaction.amount }} &#x20B9;</td>
        <td>{{ transaction.transactionType }}</td>
        <td>{{ transaction.cardBalance }} &#x20B9;</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>

</div>
