<div class="sizesmall">
  <br>
  <div class="d-flex justify-content-center">
<h4 style="justify-content: center; font-weight: 500;"> Profile Update Form </h4>
</div>
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-9 col-lg-7 col-xl-5">
        <div class="card">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="container mt-4">
            <div class="form-group">
              <label for="mobileNumber">Mobile Number:</label>
              <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control">
              <!-- <div *ngIf="form.get('mobileNumber')?.invalid && form.get('mobileNumber')?.touched" class="invalid-feedback">
                <div *ngIf="form.get('mobileNumber')?.hasError('required')">Mobile number is required.</div>
                <div *ngIf="form.get('mobileNumber')?.hasError('pattern')">Mobile number must be 10 digits.</div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" formControlName="email" class="form-control">
              <!-- <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="invalid-feedback">
                <div *ngIf="form.get('email')?.hasError('required')">Email is required.</div>
                <div *ngIf="form.get('email')?.hasError('email')">Invalid email format.</div>
              </div> -->
            </div>
            <div formGroupName="address">
              <div class="form-group">
                <label for="street">Street:</label>
                <input type="text" id="street" formControlName="line1" class="form-control" >
              </div>
              <div class="form-group">
                <label for="city">City:</label>
                <input type="text" id="city" formControlName="city" class="form-control" >
              </div>
              <div class="form-group">
                <label for="state">State:</label>
                <input type="text" id="state" formControlName="state" class="form-control" >
              </div>
              <div class="form-group">
                <label for="postalCode">Postal Code:</label>
                <input type="text" id="postalCode" formControlName="pincode" class="form-control" >
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary ">Update Profile</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
