  
  <div class="d-flex justify-content-center">
    <img src="../../assets/image/image (1).png" class="mt-5 mb-4" width="85px" height="75px">
  </div>

  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="validateLogin()">
    <mat-card class="login-card">

      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title class="login-title">Login</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <mat-form-field class="login-input">
          <input matInput #email formControlName="email" class="input-edit" placeholder="Enter Email..." type="email" required>
          <mat-error *ngIf="email.required">Please enter an email address!</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email address!</mat-error>
        </mat-form-field>

        <mat-form-field class="login-input">
          <input matInput #password type="password" class="input-edit" formControlName="password" placeholder="Enter Password..." required>
          <mat-error *ngIf="password.required">Please enter password!</mat-error>
        </mat-form-field>
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" class="login-button" [disabled]="loginForm.invalid">Login</button>
      </mat-card-actions>
      
      <div class="forgot-password">
        <a routerLink="/forgot">Forgot Password?</a>
      </div>
    </mat-card>
  </form>
