.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/bgimg.jpg'); /* Replace with the path to your JPEG image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-card {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the opacity (last value) as needed */
}

.login-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  margin-bottom: 15px;
}

.login-button {
  width: 100%;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #666;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

