
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-card {
  width: 30%;
  padding: 20px;
}

.login-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.login-input {
  width: 100%;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #666;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

