<div class="container mt-4 pb-2">
  <h1 class="text-center mt-3">Add Money</h1>
  <p class="desc-edit">For a seamless transaction, please ensure your card has sufficient funds by adding money.</p>
  <form [formGroup]="moneyForm" (ngSubmit)="addMoney()" class="container mt-4 form-border py-2  ">
    <div class="form-group">
      <label for="cardHolderName">Card Holder's Name</label>
      <input type="text" id="cardHolderName" formControlName="cardHolderName" class="form-control "  [readonly]="true" >
    </div> 
    <div class="form-group">
      <label for="cardNumber">Card Number</label>
      <span class="form-control ">{{actualCardNumber | maskCardNumber}}</span>
    </div>
    <div class="form-group">
      <label for="amount">Amount: (in &#x20B9;) </label>
      <input type="number" id="amount" formControlName="amount" class="form-control" required>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <div class="form-group">
          <label for="expire">Expiry Date</label>
          <input type="text" id="expire" formControlName="expire" class="form-control" placeholder="MM/YYYY" required>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="cvv">CVV</label>
          <input type="password" id="cvv" formControlName="cvv" class="form-control" placeholder="Cvv" required>
        </div>
      </div>
    </div>
    <button *ngIf="!enableTPIN" class="btn btn-info btn-block" [disabled]="moneyForm.invalid" (click)="addMoney()">Add Money</button>
  </form>
  <div *ngIf="enableTPIN">
    <label for="tpin">Enter TPIN:</label>
    <input maxlength="4" type="password" id="tpin" [(ngModel)]="tpin" required>
    <br>
    <button  class="pb-1 btn btn-info btn-block " (click)="moneyAdded()"  >Add Money</button>
  </div>
</div>