<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/image/bank.png"  width="100%" height="100%">
      <div class="container">
        <div class="carousel-caption text-start">
          <!-- <h1>Explore the world without worries.</h1> -->
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets\image\image2.png" width="100%" height="110%">
      <div class="container">
        <div class="carousel-caption">
          <h1>CYS Travel Card</h1>
          <p>Embark on your Expedition with CYS</p>

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/image/travel4.jpg" width="100%" height="110%">
      <div class="container">
        <div class="carousel-caption text-end">
          <h1>Want a Hasslefree Travel?</h1>
          <p>Choose CYS for the best travel experience</p>

        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img src="../../assets/image/transaction.png" height="100" width="100">
      <h2 class="fw-normal">Transactions</h2>
      <p>Check out your transactions</p>
      <p><a class="btn btn-secondary" routerLink="/transaction">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/image/addmoney.jfif" height="100" width="100">
      <h2 class="fw-normal">Add Money</h2>
      <p>Add money to your card for a smooth process</p>
      <p><a class="btn btn-secondary" routerLink="/addMoney">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="../../assets/image/services.png" height="100" width="100">
      <h2 class="fw-normal">Products & Services</h2>
      <p>We offer the following Products & Services.</p>
      <p><a class="btn btn-secondary" routerLink="/products">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

