<div class="d-flex justify-content-center">
  <img src="../../assets/image/image (1).png" class="mt-5 mb-4" width="85px" height="75px">
</div>  

<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    <form>
      <div class="form-group">
        <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Enter Phone Number" [(ngModel)]="phoneNumber" min="10" max="15">
      </div>
      <button class="btn btn-primary btn-block" (click)="getOTP()">Get OTP</button>
    </form>
    <div id="sign-in-button"></div>
  </div>
</div>
